<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    
    <style>
        
        body {padding-top: 50px;
                
             }

    </style>

</head>
<body class="container">

    <HEADER>

        <nav CLASS="navbar navbar-expand-lg navbar-light bg-light">
            <a class = "navbar-brand" href="/"> EJS </a>
        </nav>

    </HEADER>

    <main>
        <div class="jumbotron">
            <h1> NODE com EJS </h1>
            <P> Vamos aprender a trabalhar com Arquivos EJS</P>


        </div>

        <footer> 

            <p class = "text-center text-muted"> 🚀 By: Matheus de Nadai 🚀</p>

        </footer>

    </main>


    
</body>
</html>